intalio_dev_demo/everteam-ibpms-ee-7.7.0-tomcat-7.0.68/var/deploy/Budgeting/processes.ode/Metrics/Variables.xvar.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:Variables="http://test.com/xvar/example" targetNamespace="http://test.com/xvar/example" elementFormDefault="qualified">
  <xs:annotation>
    <xs:documentation>xml-schema derived from an external variable descriptor. Generated 4 May 2016 12:31:04 GMT</xs:documentation>
  </xs:annotation>
  <xs:element name="ExcerciseProject">
    <xs:annotation>
      <xs:appinfo>ExternalVariable-Values</xs:appinfo>
      <xs:documentation>default description</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="name" type="xs:string">
          <xs:annotation>
            <xs:appinfo>Value</xs:appinfo>
            <xs:documentation>Value mapped to JDBC: VARCHAR</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="responsible" type="xs:string">
          <xs:annotation>
            <xs:appinfo>Value</xs:appinfo>
            <xs:documentation>Value mapped to JDBC: VARCHAR</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="target_budget" type="xs:float">
          <xs:annotation>
            <xs:appinfo>Value</xs:appinfo>
            <xs:documentation>Value mapped to JDBC: FLOAT</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="notes" type="xs:string">
          <xs:annotation>
            <xs:appinfo>Value</xs:appinfo>
            <xs:documentation>Value mapped to JDBC: VARCHAR</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="created_on" type="xs:dateTime" minOccurs="0">
          <xs:annotation>
            <xs:appinfo>Value-Auto</xs:appinfo>
            <xs:documentation>Value generated by default: ctimestamp</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="updated_on" type="xs:dateTime" minOccurs="0">
          <xs:annotation>
            <xs:appinfo>Value-Auto</xs:appinfo>
            <xs:documentation>Value generated by default: utimestamp</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="process" type="xs:string" minOccurs="0">
          <xs:annotation>
            <xs:appinfo>Value-Auto</xs:appinfo>
            <xs:documentation>Value generated by default: pid</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="pid" type="xs:long" minOccurs="0">
          <xs:annotation>
            <xs:appinfo>Value-Auto</xs:appinfo>
            <xs:documentation>Value generated by default: iid</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="LastYearBudget" type="xs:float">
          <xs:annotation>
            <xs:appinfo>Value</xs:appinfo>
            <xs:documentation>Value mapped to JDBC: FLOAT</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="Budget" type="xs:float">
          <xs:annotation>
            <xs:appinfo>Value</xs:appinfo>
            <xs:documentation>Value mapped to JDBC: FLOAT</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="Priority" type="xs:string">
          <xs:annotation>
            <xs:appinfo>Value</xs:appinfo>
            <xs:documentation>Value mapped to JDBC: VARCHAR</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="StartExecution" type="xs:dateTime">
          <xs:annotation>
            <xs:appinfo>Value</xs:appinfo>
            <xs:documentation>Value mapped to JDBC: TIMESTAMP</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="EndExecution" type="xs:dateTime">
          <xs:annotation>
            <xs:appinfo>Value</xs:appinfo>
            <xs:documentation>Value mapped to JDBC: TIMESTAMP</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="NewProject" type="xs:boolean">
          <xs:annotation>
            <xs:appinfo>Value</xs:appinfo>
            <xs:documentation>Value mapped to JDBC: BOOLEAN</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="Description" type="xs:string">
          <xs:annotation>
            <xs:appinfo>Value</xs:appinfo>
            <xs:documentation>Value mapped to JDBC: VARCHAR</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="Justification" type="xs:string">
          <xs:annotation>
            <xs:appinfo>Value</xs:appinfo>
            <xs:documentation>Value mapped to JDBC: VARCHAR</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="RequestedDate" type="xs:dateTime">
          <xs:annotation>
            <xs:appinfo>Value</xs:appinfo>
            <xs:documentation>Value mapped to JDBC: TIMESTAMP</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="DefinedDate" type="xs:string">
          <xs:annotation>
            <xs:appinfo>Value</xs:appinfo>
            <xs:documentation>Value mapped to JDBC: VARCHAR</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="included" type="xs:boolean">
          <xs:annotation>
            <xs:appinfo>Value</xs:appinfo>
            <xs:documentation>Value mapped to JDBC: BOOLEAN</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="approved" type="xs:boolean">
          <xs:annotation>
            <xs:appinfo>Value</xs:appinfo>
            <xs:documentation>Value mapped to JDBC: BOOLEAN</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExcerciseProject-keys">
    <xs:annotation>
      <xs:appinfo>ExternalVariable-Keys</xs:appinfo>
      <xs:documentation>default description</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="excercise_id" type="xs:integer">
          <xs:annotation>
            <xs:appinfo>Key</xs:appinfo>
            <xs:documentation>Key mapped to JDBC: INTEGER</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="DepartmentId" type="xs:integer">
          <xs:annotation>
            <xs:appinfo>Key</xs:appinfo>
            <xs:documentation>Key mapped to JDBC: INTEGER</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="project_id" type="xs:integer">
          <xs:annotation>
            <xs:appinfo>Key</xs:appinfo>
            <xs:documentation>Key mapped to JDBC: INTEGER</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExcerciseDepartment">
    <xs:annotation>
      <xs:appinfo>ExternalVariable-Values</xs:appinfo>
      <xs:documentation>default description</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="created_on" type="xs:dateTime" minOccurs="0">
          <xs:annotation>
            <xs:appinfo>Value-Auto</xs:appinfo>
            <xs:documentation>Value generated by default: ctimestamp</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="updated_on" type="xs:dateTime" minOccurs="0">
          <xs:annotation>
            <xs:appinfo>Value-Auto</xs:appinfo>
            <xs:documentation>Value generated by default: utimestamp</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="process" type="xs:string" minOccurs="0">
          <xs:annotation>
            <xs:appinfo>Value-Auto</xs:appinfo>
            <xs:documentation>Value generated by default: pid</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="pid" type="xs:dateTime" minOccurs="0">
          <xs:annotation>
            <xs:appinfo>Value-Auto</xs:appinfo>
            <xs:documentation>Value generated by default: utimestamp</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="RequestedDate" type="xs:dateTime">
          <xs:annotation>
            <xs:appinfo>Value</xs:appinfo>
            <xs:documentation>Value mapped to JDBC: TIMESTAMP</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="RecievedDate" type="xs:dateTime">
          <xs:annotation>
            <xs:appinfo>Value</xs:appinfo>
            <xs:documentation>Value mapped to JDBC: TIMESTAMP</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExcerciseDepartment-keys">
    <xs:annotation>
      <xs:appinfo>ExternalVariable-Keys</xs:appinfo>
      <xs:documentation>default description</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="excercise_id" type="xs:integer">
          <xs:annotation>
            <xs:appinfo>Key</xs:appinfo>
            <xs:documentation>Key mapped to JDBC: INTEGER</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="DepartmentId" type="xs:integer">
          <xs:annotation>
            <xs:appinfo>Key</xs:appinfo>
            <xs:documentation>Key mapped to JDBC: INTEGER</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BudgetingVar">
    <xs:annotation>
      <xs:appinfo>ExternalVariable-Values</xs:appinfo>
      <xs:documentation>default description</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="fiscal_year" type="xs:integer">
          <xs:annotation>
            <xs:appinfo>Value</xs:appinfo>
            <xs:documentation>Value mapped to JDBC: INTEGER</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="target_expenses" type="xs:decimal">
          <xs:annotation>
            <xs:appinfo>Value</xs:appinfo>
            <xs:documentation>Value mapped to JDBC: NUMERIC</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="expected_increase" type="xs:decimal">
          <xs:annotation>
            <xs:appinfo>Value</xs:appinfo>
            <xs:documentation>Value mapped to JDBC: NUMERIC</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="new_investments" type="xs:string">
          <xs:annotation>
            <xs:appinfo>Value</xs:appinfo>
            <xs:documentation>Value mapped to JDBC: VARCHAR</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="target_submission" type="xs:dateTime">
          <xs:annotation>
            <xs:appinfo>Value</xs:appinfo>
            <xs:documentation>Value mapped to JDBC: TIMESTAMP</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="target_approval" type="xs:dateTime">
          <xs:annotation>
            <xs:appinfo>Value</xs:appinfo>
            <xs:documentation>Value mapped to JDBC: TIMESTAMP</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="created_on" type="xs:dateTime" minOccurs="0">
          <xs:annotation>
            <xs:appinfo>Value-Auto</xs:appinfo>
            <xs:documentation>Value generated by default: ctimestamp</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="updated_on" type="xs:dateTime" minOccurs="0">
          <xs:annotation>
            <xs:appinfo>Value-Auto</xs:appinfo>
            <xs:documentation>Value generated by default: utimestamp</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="process" type="xs:string" minOccurs="0">
          <xs:annotation>
            <xs:appinfo>Value-Auto</xs:appinfo>
            <xs:documentation>Value generated by default: pid</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="pid" type="xs:long" minOccurs="0">
          <xs:annotation>
            <xs:appinfo>Value-Auto</xs:appinfo>
            <xs:documentation>Value generated by default: iid</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BudgetingVar-keys">
    <xs:annotation>
      <xs:appinfo>ExternalVariable-Keys</xs:appinfo>
      <xs:documentation>default description</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="excercise_id" type="xs:integer">
          <xs:annotation>
            <xs:appinfo>Key</xs:appinfo>
            <xs:documentation>Key mapped to JDBC: INTEGER</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>