intalio_dev_demo/everteam-ibpms-ee-7.7.0-tomcat-7.0.68/var/deploy/FloridaBlueDemo/processes.ode/Processes/Education-Education_process.wsdl

<?xml version='1.0' encoding='utf-8'?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:pnlk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:bpel="http://docs.oasis-open.org/wsbpel/2.0/process/executable" xmlns:vprop="http://docs.oasis-open.org/wsbpel/2.0/varprop" xmlns:this="http://floridabluedemo.com/Processes/Education/Education_process" xmlns:metrics="http://test.com/xvar/example" xmlns:Technical="http://www.example.org/Technical" xmlns:formless-ytivitca="http://www.intalio.com/formless/attachments" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:frmMember="http://www.intalio.com/gi/Forms/frmMember.gi" xmlns:diag="http://floridabluedemo.com/Processes/Education" xmlns:Master_process="http://floridabluedemo.com/Processes/Education/Master_process" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.example.org/Demo" xmlns:formless="http://www.intalio.com/formless" xmlns:Education_processimplicitPartner="http://floridabluedemo.com/Processes/Education/Education_processimplicitPartner" xmlns:attachments="http://www.intalio.com/gi/Forms/frmMember.gi/attachments" xmlns:xml="http://www.w3.org/XML/1998/namespace" targetNamespace="http://floridabluedemo.com/Processes/Education/Education_process">
    <wsdl:types>
        <xs:schema elementFormDefault="qualified" targetNamespace="http://floridabluedemo.com/Processes/Education/Education_process">
            <xs:import namespace="http://www.example.org/Demo" schemaLocation="../Schemas/Demo.xsd"/>
            <xs:element name="Recieve_member_infoRequest" type="tns:MemberType"/>
            <xs:element name="Recieve_member_infoResponse" type="tns:ACKType"/>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="Recieve_member_infoRequest">
        <wsdl:part name="body" element="this:Recieve_member_infoRequest"/>
    </wsdl:message>
    <wsdl:message name="Recieve_member_infoResponse">
        <wsdl:part name="body" element="this:Recieve_member_infoResponse"/>
    </wsdl:message>
    <wsdl:portType name="ForMaster_process">
        <wsdl:operation name="Recieve_member_info">
            <wsdl:input message="this:Recieve_member_infoRequest" name="Recieve_member_info"/>
            <wsdl:output message="this:Recieve_member_infoResponse" name="Recieve_member_infoResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="CanonicBindingForMaster_process" type="this:ForMaster_process">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="Recieve_member_info">
            <soap:operation style="document" soapAction="http://floridabluedemo.com/Processes/Education/Education_process/ForMaster_process/Recieve_member_info"/>
            <wsdl:input name="Recieve_member_info">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="Recieve_member_infoResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="CanonicServiceForMaster_process">
        <wsdl:port name="canonicPort" binding="this:CanonicBindingForMaster_process">
            <soap:address location="http://bpms.local:8080/everteam/ode/processes/FloridaBlueDemo/Processes/Education/Education_process/Master_process"/>
        </wsdl:port>
    </wsdl:service>
	<wsdl:import namespace="http://www.intalio.com/gi/Forms/frmMember.gi" location="../Forms/frmMember.gi.wsdl"/>
	<wsdl:binding name="WFmagic_a2GM0e93EeW-F9Cnjo6rGQServiceBinding" type="frmMember:Process">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="initProcess">
			<soap:operation style="document" soapAction="http://www.intalio.com/gi/Forms/frmMember.gi/Process/initProcess"/>
			<wsdl:input name="initProcessRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="initProcessResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="notifyTaskCompletion">
			<soap:operation style="document" soapAction="http://www.intalio.com/gi/Forms/frmMember.gi/Process/notifyTaskCompletion"/>
			<wsdl:input name="notifyTaskCompletionRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="notifyTaskCompletionResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="notifyTaskCompletionSingleActivity">
			<soap:operation style="document" soapAction="http://www.intalio.com/gi/Forms/frmMember.gi/Process/notifyTaskCompletionSingleActivity"/>
			<wsdl:input name="createTaskSingleActivityResponse">
				<soap:body use="literal"/>
			</wsdl:input>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="WFmagic_a2GM0e93EeW-F9Cnjo6rGQService">
		<wsdl:port name="Education_processForFr_for_Education_processimplicitPartnerForThePortTypeProcessPort" binding="this:WFmagic_a2GM0e93EeW-F9Cnjo6rGQServiceBinding">
			<soap:address location="http://bpms.local:8080//everteam/ode/processes/FloridaBlueDemo/Processes/Education/Education_processForFr/Education_processimplicitPartner/WFmagic_a2GM0e93EeW-F9Cnjo6rGQ"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>