intalio_dev_demo/everteam-ibpms-ee-7.7.0-tomcat-7.0.68/var/config/temp/dtws_floridabluedemo_rules_memberevaluation.aar/META-INF/dtws_floridabluedemo_rules_memberevaluation.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://memberevaluation.rules.floridabluedemo" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ax246="http://memberevaluation.rules.floridabluedemo/bre" xmlns:ax245="http://memberevaluation.rules.floridabluedemo/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://memberevaluation.rules.floridabluedemo">
    <wsdl:types>
        <xs:schema xmlns:ax248="http://memberevaluation.rules.floridabluedemo/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://memberevaluation.rules.floridabluedemo">
            <xs:import namespace="http://memberevaluation.rules.floridabluedemo/xsd"/>
            <xs:complexType name="Exception">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Exception" nillable="true" type="xs:anyType"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="Exception">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="Exception" nillable="true" type="ns:Exception"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="invokeDecisionTable">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="param0" nillable="true" type="ax248:Input"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="invokeDecisionTableResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax248:Output"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://memberevaluation.rules.floridabluedemo/bre">
            <xs:complexType name="Member">
                <xs:sequence>
                    <xs:element minOccurs="0" name="age" nillable="true" type="xs:int"/>
                    <xs:element minOccurs="0" name="diabetes" nillable="true" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="heartAttack" nillable="true" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="highBloodPressure" nillable="true" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="id" nillable="true" type="xs:int"/>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="sex" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="MemberActions">
                <xs:sequence>
                    <xs:element minOccurs="0" name="education" nillable="true" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="physical" nillable="true" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="referral" nillable="true" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax247="http://memberevaluation.rules.floridabluedemo/bre" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://memberevaluation.rules.floridabluedemo/xsd">
            <xs:import namespace="http://memberevaluation.rules.floridabluedemo/bre"/>
            <xs:complexType name="Input">
                <xs:sequence>
                    <xs:element minOccurs="0" name="member" nillable="true" type="ax247:Member"/>
                    <xs:element minOccurs="0" name="memberActions" nillable="true" type="ax247:MemberActions"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Output">
                <xs:sequence>
                    <xs:element minOccurs="0" name="member" nillable="true" type="ax247:Member"/>
                    <xs:element minOccurs="0" name="memberActions" nillable="true" type="ax247:MemberActions"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="invokeDecisionTableRequest">
        <wsdl:part name="parameters" element="ns:invokeDecisionTable"/>
    </wsdl:message>
    <wsdl:message name="invokeDecisionTableResponse">
        <wsdl:part name="parameters" element="ns:invokeDecisionTableResponse"/>
    </wsdl:message>
    <wsdl:message name="Exception">
        <wsdl:part name="parameters" element="ns:Exception"/>
    </wsdl:message>
    <wsdl:portType name="dtws_floridabluedemo_rules_memberevaluationPortType">
        <wsdl:operation name="invokeDecisionTable">
            <wsdl:input message="ns:invokeDecisionTableRequest" wsaw:Action="urn:invokeDecisionTable"/>
            <wsdl:output message="ns:invokeDecisionTableResponse" wsaw:Action="urn:invokeDecisionTableResponse"/>
            <wsdl:fault message="ns:Exception" name="Exception" wsaw:Action="urn:invokeDecisionTableException"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="dtws_floridabluedemo_rules_memberevaluationSoap11Binding" type="ns:dtws_floridabluedemo_rules_memberevaluationPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="invokeDecisionTable">
            <soap:operation soapAction="urn:invokeDecisionTable" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="Exception">
                <soap:fault use="literal" name="Exception"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="dtws_floridabluedemo_rules_memberevaluationSoap12Binding" type="ns:dtws_floridabluedemo_rules_memberevaluationPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="invokeDecisionTable">
            <soap12:operation soapAction="urn:invokeDecisionTable" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="Exception">
                <soap12:fault use="literal" name="Exception"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="dtws_floridabluedemo_rules_memberevaluationHttpBinding" type="ns:dtws_floridabluedemo_rules_memberevaluationPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="invokeDecisionTable">
            <http:operation location="dtws_floridabluedemo_rules_memberevaluation/invokeDecisionTable"/>
            <wsdl:input>
                <mime:content type="text/xml" part="invokeDecisionTable"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="invokeDecisionTable"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="dtws_floridabluedemo_rules_memberevaluation">
        <wsdl:port name="dtws_floridabluedemo_rules_memberevaluationHttpSoap11Endpoint" binding="ns:dtws_floridabluedemo_rules_memberevaluationSoap11Binding">
            <soap:address location="http://localhost:8080/everteam/ode/processes/dtws_floridabluedemo_rules_memberevaluation"/>
        </wsdl:port>
        <wsdl:port name="dtws_floridabluedemo_rules_memberevaluationHttpSoap12Endpoint" binding="ns:dtws_floridabluedemo_rules_memberevaluationSoap12Binding">
            <soap12:address location="http://localhost:8080/everteam/ode/processes/dtws_floridabluedemo_rules_memberevaluation"/>
        </wsdl:port>
        <wsdl:port name="dtws_floridabluedemo_rules_memberevaluationHttpEndpoint" binding="ns:dtws_floridabluedemo_rules_memberevaluationHttpBinding">
            <http:address location="http://localhost:8080/everteam/ode/processes/dtws_floridabluedemo_rules_memberevaluation"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
