intalio_dev_demo/everteam-ibpms-ee-7.7.0-tomcat-7.0.68/var/deploy/Budgeting/processes.ode/Services/SOAP/OrganizationInfoService.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://tempo.intalio.org/security/OrganizationInfoService" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ax23="http://model.security.tempo.intalio.org/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempo.intalio.org/security/OrganizationInfoService">
   <wsdl:documentation>
<imported:imported xmlns:imported="http://www.intalio.com/designer/remote-services-import" imported:importTime="2015-12-08T10:51:02-0500" imported:sourceURI="http://bpms.local:8080/intalio/ode/processes/OrganizationInfoService?wsdl" imported:baseImportDir="Budgeting/Services/SOAP" imported:isRootImport="true" imported:isIndented="true"/>OrganizationInfoService</wsdl:documentation>
   <wsdl:types>
      <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://tempo.intalio.org/security/OrganizationInfoService">
         <xs:complexType name="SecurityUser">
            <xs:sequence>
               <xs:element minOccurs="0" name="displayName" nillable="true" type="xs:string"/>
               <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
               <xs:element minOccurs="0" name="realm" nillable="true" type="xs:string"/>
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
      <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://tempo.intalio.org/security/OrganizationInfoService">
         <xs:element name="OrganizationInfoServiceException">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="OrganizationInfoServiceException" nillable="true" type="ns:Exception"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:complexType name="Exception">
            <xs:sequence>
               <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string"/>
            </xs:sequence>
         </xs:complexType>
         <xs:element name="getSubordinates">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="userID" type="xs:string"/>
                  <xs:element name="authenticationToken" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="getSubordinatesResponse">
            <xs:complexType>
               <xs:sequence>
                  <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ns:SecurityUser"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="getManager">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="userID" type="xs:string"/>
                  <xs:element name="authenticationToken" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="getManagerResponse">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="return" nillable="true" type="ns:SecurityUser"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
      </xs:schema>
   </wsdl:types>
   <wsdl:message name="getManagerRequest">
      <wsdl:part name="parameters" element="ns:getManager"/>
   </wsdl:message>
   <wsdl:message name="getManagerResponse">
      <wsdl:part name="parameters" element="ns:getManagerResponse"/>
   </wsdl:message>
   <wsdl:message name="OrganizationInfoServiceException">
      <wsdl:part name="parameters" element="ns:OrganizationInfoServiceException"/>
   </wsdl:message>
   <wsdl:message name="getSubordinatesRequest">
      <wsdl:part name="parameters" element="ns:getSubordinates"/>
   </wsdl:message>
   <wsdl:message name="getSubordinatesResponse">
      <wsdl:part name="parameters" element="ns:getSubordinatesResponse"/>
   </wsdl:message>
   <wsdl:portType name="OrganizationInfoServicePortType">
      <wsdl:operation name="getManager">
         <wsdl:input message="ns:getManagerRequest" wsaw:Action="urn:getManager"/>
         <wsdl:output message="ns:getManagerResponse" wsaw:Action="urn:getManagerResponse"/>
         <wsdl:fault message="ns:OrganizationInfoServiceException" name="OrganizationInfoServiceException" wsaw:Action="urn:getManagerOrganizationInfoServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="getSubordinates">
         <wsdl:input message="ns:getSubordinatesRequest" wsaw:Action="urn:getSubordinates"/>
         <wsdl:output message="ns:getSubordinatesResponse" wsaw:Action="urn:getSubordinatesResponse"/>
         <wsdl:fault message="ns:OrganizationInfoServiceException" name="OrganizationInfoServiceException" wsaw:Action="urn:getSubordinatesOrganizationInfoServiceException"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="OrganizationInfoServiceSoapBinding" type="ns:OrganizationInfoServicePortType">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
      <wsdl:operation name="getManager">
         <soap:operation soapAction="urn:getManager" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="OrganizationInfoServiceException">
            <soap:fault use="literal" name="OrganizationInfoServiceException"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getSubordinates">
         <soap:operation soapAction="urn:getSubordinates" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="OrganizationInfoServiceException">
            <soap:fault use="literal" name="OrganizationInfoServiceException"/>
         </wsdl:fault>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="OrganizationInfoService">
      <wsdl:port name="OrganizationInfoServiceHttpsSoapEndpoint" binding="ns:OrganizationInfoServiceSoapBinding">
         <soap:address location="http://bpms.local:8080/intalio/ode/processes/OrganizationInfoService.OrganizationInfoServiceHttpsSoapEndpoint/"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>