intalio_dev_demo/everteam-ibpms-ee-7.7.0-tomcat-7.0.68/var/deploy/Budgeting/processes.ode/Processes/Integrations/AttachmentManagement-process.wsdl

<?xml version='1.0' encoding='utf-8'?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:pnlk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:bpel="http://docs.oasis-open.org/wsbpel/2.0/process/executable" xmlns:vprop="http://docs.oasis-open.org/wsbpel/2.0/varprop" xmlns:this="http://budgeting.example.everteam.com/Processes/Integrations/AttachmentManagement/process" xmlns:caller="http://budgeting.example.everteam.com/Processes/Integrations/AttachmentManagement/caller" xmlns:processimplicitPartner="http://budgeting.example.everteam.com/Processes/Integrations/AttachmentManagement/processimplicitPartner" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:Business="http://budgeting.example.everteam.com/Types/Business" xmlns:select_attachmetns="urn:intalio.com:connectors:database:budgeting:select_attachmetnsservice" xmlns:tns="http://budgeting.example.everteam.com/Types/Technical" xmlns:diag="http://budgeting.example.everteam.com/Processes/Integrations/AttachmentManagement" xmlns:ns="urn:intalio.com:connectors:database:budgeting:insert_attachmentservice" xmlns:xml="http://www.w3.org/XML/1998/namespace" targetNamespace="http://budgeting.example.everteam.com/Processes/Integrations/AttachmentManagement/process">
    <wsdl:types>
        <xs:schema elementFormDefault="qualified" targetNamespace="http://budgeting.example.everteam.com/Processes/Integrations/AttachmentManagement/process">
            <xs:import namespace="http://budgeting.example.everteam.com/Types/Technical" schemaLocation="../../Schemas/Technical.xsd"/>
            <xs:element name="Get_attachmentsRequest" type="xs:string"/>
            <xs:element name="Get_attachmentsResponse" type="tns:AttachmentsType"/>
            <xs:element name="Store_attachmentsRequest" type="tns:StoreAttachmentRequestType"/>
            <xs:element name="Store_attachmentsResponse" type="tns:AcknowledgementType"/>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="Get_attachmentsRequest">
        <wsdl:part name="body" element="this:Get_attachmentsRequest"/>
    </wsdl:message>
    <wsdl:message name="Get_attachmentsResponse">
        <wsdl:part name="body" element="this:Get_attachmentsResponse"/>
    </wsdl:message>
    <wsdl:message name="Store_attachmentsRequest">
        <wsdl:part name="body" element="this:Store_attachmentsRequest"/>
    </wsdl:message>
    <wsdl:message name="Store_attachmentsResponse">
        <wsdl:part name="body" element="this:Store_attachmentsResponse"/>
    </wsdl:message>
    <wsdl:portType name="Forcaller">
        <wsdl:operation name="Get_attachments">
            <wsdl:input message="this:Get_attachmentsRequest" name="Get_attachments"/>
            <wsdl:output message="this:Get_attachmentsResponse" name="Get_attachmentsResponse"/>
        </wsdl:operation>
        <wsdl:operation name="Store_attachments">
            <wsdl:input message="this:Store_attachmentsRequest" name="Store_attachments"/>
            <wsdl:output message="this:Store_attachmentsResponse" name="Store_attachmentsResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="CanonicBindingForcaller" type="this:Forcaller">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="Store_attachments">
            <soap:operation style="document" soapAction="http://budgeting.example.everteam.com/Processes/Integrations/AttachmentManagement/process/Forcaller/Store_attachments"/>
            <wsdl:input name="Store_attachments">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="Store_attachmentsResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Get_attachments">
            <soap:operation style="document" soapAction="http://budgeting.example.everteam.com/Processes/Integrations/AttachmentManagement/process/Forcaller/Get_attachments"/>
            <wsdl:input name="Get_attachments">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="Get_attachmentsResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="CanonicServiceForcaller">
        <wsdl:port name="canonicPort" binding="this:CanonicBindingForcaller">
            <soap:address location="http://bpms.local:8080/everteam/ode/processes/Budgeting/Processes/Integrations/AttachmentManagement/process/caller"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>