intalio_dev_demo/everteam-ibpms-ee-7.7.0-tomcat-7.0.68/var/deploy/Budgeting/processes.ode/Processes/Integrations/ProjectReviewAPI-process.wsdl

<?xml version='1.0' encoding='utf-8'?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:pnlk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:bpel="http://docs.oasis-open.org/wsbpel/2.0/process/executable" xmlns:vprop="http://docs.oasis-open.org/wsbpel/2.0/varprop" xmlns:this="http://budgeting.example.everteam.com/Processes/Integrations/ProjectReviewAPI/process" xmlns:Variables="http://test.com/xvar/example" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:diag="http://budgeting.example.everteam.com/Processes/Integrations/ProjectReviewAPI" xmlns:processimplicitPartner="http://budgeting.example.everteam.com/Processes/Integrations/ProjectReviewAPI/processimplicitPartner" xmlns:caller="http://budgeting.example.everteam.com/Processes/Integrations/ProjectReviewAPI/caller" xmlns:ns="urn:intalio.com:connectors:database:budgeting:select_projectsservice" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://budgeting.example.everteam.com/Types/Business" xmlns:Technical="http://budgeting.example.everteam.com/Types/Technical" xmlns:GetSingleDepartment-Process="http://budgeting.example.everteam.com/Processes/Integrations/GetSingleDepartment/Process" xmlns:select_project_attachments="urn:intalio.com:connectors:database:budgeting:select_project_attachmentsservice" xmlns:xml="http://www.w3.org/XML/1998/namespace" targetNamespace="http://budgeting.example.everteam.com/Processes/Integrations/ProjectReviewAPI/process">
    <wsdl:types>
        <xs:schema elementFormDefault="qualified" targetNamespace="http://budgeting.example.everteam.com/Processes/Integrations/ProjectReviewAPI/process">
            <xs:import namespace="http://budgeting.example.everteam.com/Types/Business" schemaLocation="../../Schemas/Business.xsd"/>
            <xs:import namespace="http://budgeting.example.everteam.com/Types/Technical" schemaLocation="../../Schemas/Technical.xsd"/>
            <xs:element name="Get_projectsRequest" type="tns:ProjectDeparmentIdentifierType"/>
            <xs:element name="Get_projectsResponse" type="Technical:ReviewType"/>
            <xs:element name="update_projectRequest" type="Technical:UpdateProjectType"/>
            <xs:element name="update_projectResponse" type="Technical:AcknowledgementType"/>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="Get_projectsRequest">
        <wsdl:part name="body" element="this:Get_projectsRequest"/>
    </wsdl:message>
    <wsdl:message name="Get_projectsResponse">
        <wsdl:part name="body" element="this:Get_projectsResponse"/>
    </wsdl:message>
    <wsdl:message name="update_projectRequest">
        <wsdl:part name="body" element="this:update_projectRequest"/>
    </wsdl:message>
    <wsdl:message name="update_projectResponse">
        <wsdl:part name="body" element="this:update_projectResponse"/>
    </wsdl:message>
    <wsdl:portType name="Forcaller">
        <wsdl:operation name="Get_projects">
            <wsdl:input message="this:Get_projectsRequest" name="Get_projects"/>
            <wsdl:output message="this:Get_projectsResponse" name="Get_projectsResponse"/>
        </wsdl:operation>
        <wsdl:operation name="update_project">
            <wsdl:input message="this:update_projectRequest" name="update_project"/>
            <wsdl:output message="this:update_projectResponse" name="update_projectResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="CanonicBindingForcaller" type="this:Forcaller">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="update_project">
            <soap:operation style="document" soapAction="http://budgeting.example.everteam.com/Processes/Integrations/ProjectReviewAPI/process/Forcaller/update_project"/>
            <wsdl:input name="update_project">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="update_projectResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Get_projects">
            <soap:operation style="document" soapAction="http://budgeting.example.everteam.com/Processes/Integrations/ProjectReviewAPI/process/Forcaller/Get_projects"/>
            <wsdl:input name="Get_projects">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="Get_projectsResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="CanonicServiceForcaller">
        <wsdl:port name="canonicPort" binding="this:CanonicBindingForcaller">
            <soap:address location="http://bpms.local:8080/everteam/ode/processes/Budgeting/Processes/Integrations/ProjectReviewAPI/process/caller"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>